.correcto{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid #008000a6;
    padding-left: 25px;
    padding-top: 10px;
}
.incorrecto{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding-left: 25px;
    padding-top: 10px;
    border: 1px solid #f5071da6;
}